{% extends 'fennys/barnav.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Lista de Productos{% endblock %}

{% block content %}

    <div class="container mt-4">
        <h1 class="text-center">Lista de Productos</h1>
        <div class="row">
            {% for producto in productos %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ producto.foto.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">Categoría: {{ producto.categoria }}</p>
                            <p class="card-text">Precio: ${{ producto.precio | floatformat:0 | intcomma }}</p>
                            <p class="card-text">Inventario: {{ producto.inventario | intcomma }}</p>
                            {% if producto.inventario == 0 %}
                                <p class="text-danger">El producto está agotado.</p>
                            {% elif producto.inventario <= 5 %}
                                <p class="text-warning">El producto se está agotando.</p>
                            {% endif %}
                            <div class="d-flex justify-content-center align-items-center">
                                <form action="{% url 'agregar_al_carrito' producto.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-primary" type="submit" {% if producto.inventario == 0 %}disabled{% endif %}>
                                        Agregar al Carrito
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
