{% extends 'fennys/barnav.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Productos{% endblock %}
{% include 'navbar.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for categoria in categorias %}
        <div class="col mb-4">
            <div class="card h-100">
                <img src="{{ categoria.foto.url }}" class="card-img-top" alt="Imagen de {{ categoria.nombre }}">
                <div class="card-body">
                    <h5 class="card-title" style="color: red;">{{ categoria.nombre }}</h5>
                    <p class="card-text">{{ categoria.descripcion|truncatewords:10 }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
